@import "variable.css";

@font-face {
  font-family: HeroNew-Regular;
  src: url(../fonts/HeroNewRegular.woff);
}

@font-face {
  font-family: HeroNew-Bold;
  src: url(../fonts/HeroNewBold.woff);
}

@font-face {
  font-family: HeroNew-ExtraBold;
  src: url(../fonts/HeroNewExtraBold.woff);
}

@font-face {
  font-family: Helvetica-regular;
  src: url(../fonts/Helvetica.ttf);
}

@font-face {
  font-family: Helvetica-Bold;
  src: url(../fonts/Helvetica-Bold.ttf);
}

html {
    font-size: var(--global-font-size);
}

body{
    font-family: var(--hero-regular);
    color: var(--black-color);
    background-color: var(--white-color);
}

.container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: var(--container);
}

/* Common Styles */
.row-wrap-item-center {
    display: var(--flex);
    flex-wrap: var(--flex-wrap);
    align-items: var(--item-center);
}
.mar-left-36 {
    margin: var(--left-36);
}
.is-green {
    background-color: var(--mint-color);
}
.is-blue-bg {
    background-color: var(--blue-color);
}
.is-border-0 {
    border: var(--zero)!important;
}

/* SLICK SLIDER CUSTOMIZE */
.slick-dots{
    position: initial;
}

.slick-dots li{
    width: 1rem;
    height: 1rem;
}
.slick-dots li button {
    width: 10px;
    height: 10px;
    padding: 0px;
}
.slick-dots li button:before {
     font-size: 20px;
    line-height: 10px; 
    width: 10px;
    height: 10px;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: var(--light-blue-color);
}
.image.is-20x20 {
    height: 20px;
    width: 20px;
}
.is-twelve-per {
    flex: none;
    width: var(--per-12);
}

/* Header ST */
header {
    position: sticky;
    top: var(--zero);
    left: var(--zero);
    z-index: var(--zindex-999);
}
.top-header {
    background-color: var(--blue-color);
    font: var(--top-header-font);
    color: var(--snow-color);
    text-align: var(--text-center);
    padding: var(--top-bottom-14-left-right-10);
}
.bottom-header {
    background-color: var(--dark-color);
    padding: var(--top-bottom-25--left-right-10);
}
.bottom-header .navbar-burger {
    margin-right: var(--mr-52);
}
.bottom-header .navbar-burger span {
    width: 2rem;
    height: 0.3rem;
}
.bottom-header .navbar-burger span:first-child {
    top: calc(50% - 8px);
}
.bottom-header .navbar-burger span:nth-child(2) {
    top: calc(50% - 2px);
}
.header-container {
    max-width: var(--header-container);
    margin: var(--zero-auto);
}
.header-left {
    flex: var(--flex-1);
}
.hamburger {
    margin: var(--right-52);
    cursor: var(--pointer);
}
header nav a, aside nav a {
    font-weight: var(--font-weight-400);
    font-size: var(--cus-size-6);
    line-height: var(--cus-lineht-7);
    color: var(--light-grey-color-2);
    padding: 0 1.5rem;
}
header nav a:hover, aside nav a:hover {
    color: var(--light-blue-color);
}
header nav a.active, aside nav a.active {
    font-family: var(--hero-extra-bold);
    font-weight: var(--font-weight-900);
    color: var(--light-blue-color);
}
header nav a:first-child {
    margin-right: var(--mr-10);
}
header nav a:nth-child(2) {
    margin-right: 2.1rem;
}
header nav a:nth-child(4) {
    margin-right: 1.6rem;
}
header .button.is-rounded, aside .button.is-rounded {
    font-size: var(--cus-size-10);
    padding: 0.6rem 4rem;
}
aside .button.is-rounded {
    margin-top: 1rem;
}
.separator {
    border-right-width: var(--border-width-1);
    border-right-style: solid;
    border-color: var(--light-blue-color);
    height: 2.8rem;
    margin-right: 0.4rem;
}
aside {
    width: 20vw;
    height: calc(100vh + 14.1rem);
    background-color: var(--dark-color);
    position: fixed;
    top: 14.1rem;
    left: -20vw;
    z-index: 999;
    padding: 2rem;
    transition: left 0.2s;
}
.close-side-nav button svg {
    fill: var(--dark-color);
    border: var(--zero);
    border-radius: 50%;
}

aside nav a {
    display: var(--block);
    padding: 1rem var(--zero);
}
aside nav .separator {
    display: var(--block);
    border-right: var(--zero);
    border-bottom-width: var(--border-width-1);
    border-bottom-style: solid;
    border-color: var(--light-blue-color);
    height: initial;
    margin: 1rem var(--zero);
}
aside .close-side-nav {
    margin-top: 1rem;
    margin-left: auto;
    display: flex;
    border: 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 767px) {
    .header-right {
        display: none;
    }
    .row-wrap-item-center {
        justify-content: space-between;
    }
    .bottom-header {
        padding: 1rem 2rem;
    }
    aside {
        width: 75vw;
        top: 13.1rem;
        left: -75vw;
    }
}

.section{
    padding: var(--zero);
}

/* FONTS CSS*/

.hero-extrabold{
    font-family: var(--hero-extra-bold);
}

.heletica{
    font-family: var(--helvetica-regular);
}

.cus-size-1{
    font-size: var(--cus-size-1);
}

.cus-size-2{
    font-size: var(--cus-size-2);
}

.cus-size-3{
    font-size: var(--cus-size-3);
}

.cus-size-5{
    font-size: var(--cus-size-5);
}
.cus-size-6{
    font-size: var(--cus-size-6);
}

.cus-size-8{
    font-size: var(--cus-size-8);
}

.cus-lineht-1{
    line-height: var(--cus-lineht-1);
}

.cus-lineht-2{
    line-height: var(--cus-lineht-2);
}

.cus-lineht-3{
    line-height: var(--cus-lineht-3);
}

.cus-lineht-4{
    line-height: var(--cus-lineht-4);
}

.cus-lineht-8{
    line-height: var(--cus-lineht-8);
}

/* FONTS COLOR */
.black{
    color: var(--black-color);
}

.blue-dark{
    color: var(--midnight-color);
}

.light-purple-color-bg{
    background-color: var(--light-purple-color);
}

.light-grey-color{
    color: var(--light-grey-color);
}
/* HELPERS CLASSES */
.span-blue{
    color: var(--blue-color)
}

.mt-28{
    margin-top: var(--mt-28) !important;
}

.mb-22{
    margin-bottom: var(--mb-22) !important;
}

.mb-0{
    margin-bottom: var(--mb-0) !important;
}

.mb-27{
    margin-bottom: var(--mb-27);
}

.mb-34{
    margin-bottom: var(--mb-34);
}

.mb-45{
    margin-bottom: var(--mb-45);
}

.mt-50{
    margin-top: var(--mt-50);
}

.mt-70{
    margin-top: var(--mt-70);
}
.mb-56{
    margin-bottom: var(--mb-56);
}
.p-y-44{
padding: var(--p-y-44) 0;
}

.p-x-50{
    padding: 0 var(--p-x-50);
}

.p-x-70{
    padding: 0 var(--p-x-70);
}

.p-x-110{
    padding: 0 var(--p-x-110);
}

.pb-94{
    padding-bottom: var(--p-b-94);
}

.pt-125{
    padding-top: var(--p-t-125);
}

.pt-145{
    padding-top: var(--p-top-145);
}

.seperator{
    margin: var(--zero) 10px;
}


/* BUTTON STYLES (NEW)*/
/* button.is-rounded */
.button{
    border-color: var(--midnight-color);
    border-width: var(--border-width);
    color: var(--midnight-color);
    padding: .8rem 3.9rem;
    height: auto;
}

.button.is-rounded{
    border-radius: 9999px;
    padding: .8rem 3.9rem;
}
 
.button.is-mint{
border-color: var(--mint-color);
background-color: var(--mint-color);
}

.button.is-midnight{
border-color: var(--midnight-color);
background-color: var(--midnight-color);
color: var(--snow-color);
}

.button.is-transparent{
    background-color: transparent;
}

.button, .file-cta, .file-name, .input, .pagination-ellipsis, .pagination-link, .pagination-next, .pagination-previous, .select select, .textarea{
    font-size: 1.4rem;
}

.button.is-small{
    font-size: 1rem;
    padding: 0.6rem 4rem;
}

.a-underline{
    text-decoration: underline;
}



/* MAIN_SLIDER SECTION */

.is-bold{
    font-family: var(--hero-bold);
}

.pos-relative{
    position: relative;
}

.pos-absolute{
    position: absolute;
}

.mobile-header{
    right: -3.5rem;
    bottom: -22rem;
}
 
.how-it-works{
    bottom: 30px;
    left: 29%;
}

.animation-bg{
    padding: 13.6rem 0;
    background-image: url(../img/2021_ART_particles-rect-XL-3@2x.png);
    background-repeat: repeat-x;
    margin-top: 7rem;
}

/* AKS css start */

.bg1{
    background: url(../img/gradient.png) center 3.5rem no-repeat;
    background-size: cover;
}
.title-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem 4rem 0 4rem;
}
.cust-card {
    padding: 3rem 5rem;
    background: #FFFFFF;
    box-shadow: 0 2px 19px 0 #dbdfff;
    border-radius: 45px;
    min-height: 300px;
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cust-card span {
    height: 55px;
    display: flex;
    align-items: center;
}
.cust-card span.digital-pay img {
    margin-top: 1.5rem;
}
.cust-card h3 {
    font-size: var(--cus-size-5);
    line-height: var(--cus-lineht-7);
    font-family: var(--helvetica-regular);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    min-height: 30px;
}
.cust-card p {
    font-size: var(--cus-size-6);
    line-height: var(--cus-lineht-5);
    font-family: var(--helvetica-regular);
}
.pay-over-time {
    flex-direction: column;
    align-items: center;
}
.pay-over-time .airpay-plan {
    margin-left: 25%;
    margin-top: 5rem;
}
.pay-over-time .person-ondesk {
    margin-top: -15rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 5%;
}
.person-ondesk a {
    display: inline-flex;
    margin-bottom: 4rem;
    margin-left: 1rem;
}
.facny-bg {
    background: url(../img/ART_600x600-Confetti-3.png) no-repeat top center;
    padding: 0 7rem 9rem 7rem;
}
.facny-bg p {
    padding: 0 5rem;
}
.cust-position {
    background-position: center 21rem;
}
.more {
    background: url(../img/Dropdown-5B70FF.png) no-repeat left center;
    display: flex;
    margin-top: 2.5rem;
    font-size: var(--cus-size-8);
    line-height: var(--cus-lineht-8);
    padding-left: 1.75rem;
    color: #1D1D30;
    font-weight: bold;
}
.partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.partners-card {
    padding: 2.5rem;
    box-shadow: 0 2px 19px 0 #dbdfff;
    border-radius: 30px;
    min-height: 15rem;
    margin-top: 5.5rem;
}
.partners-card:first-child {
    margin-top: 0;
}

.partner {
    display: flex;
    flex-direction: column;
}
.partner h4 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 2rem;
}

.partner .top-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.partner .top-head h4 {
    margin: 0;
}

.partner .top-head .partner-review {
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
    box-shadow: 0 2px 19px 0 #bec2df;
    margin-top: -5.5rem;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partner-review img {
    width: 55%;
}

/* AKS css end */
.navbar-burger span {
    background-color: var(--blue-color);
}
.section-3 .tabs .tab li {
    width: 41%;
    padding: var(--zero);
}
.section-3 .tabs .tab li button {
    border: var(--zero);
    border-bottom: 3px solid var(--light-blue-color-2);
    cursor: var(--pointer);
    font-size: var(--cus-size-3);
    padding-bottom: var(--cus-size-7);
    width: 100%;
    background: transparent;

}
.section-3 .tabs .tab li .is-active {
    border-bottom: 3px solid var(--light-blue-color);
}
.section-3 .tabs ul {
    border-bottom: 2px solid var(--light-grey-color-3);
    min-height: 5rem;
}
.tabcontent{
    display: none;
}
.section-3 .tabs ul li.is-three-fifths div {
    width: 60%;
    white-space: initial;
}
.section-3 .tabs.is-large {
    font-size: var(--cus-size-5);
    line-height: var(--cus-lineht-7);
    border-bottom: 2px solid var(--light-grey-color-3);
}
.section-3 .tabs ul li.is-three-fifths span {
    font-family: var(--helvetica-regular);
    font-size: var(--cus-size-8);
    color: var(--light-grey-color);
}
.section-3-ftr {
    margin-top: var(--mt-40);
}
.section-3-ftr>.columns {
    font-size: var(--cus-size-6);
    margin-bottom: var(--mb-15);
}
.section-3-ftr div:last-child {
    font-size: var(--cus-size-8);
}
.section-3-ftr>.columns .icon {
    margin-right: var(--mr-20);
}

/* Payment Steps */
.payment-steps {
    margin-top: var(--mt-124);
}
.payment-steps-main-bg {
    background: url(../img/graphic-phone.png) no-repeat left top/cover;
    width: 68%;
    margin: var(--zero-auto);
}
.payment-steps-1, .payment-steps-3 {
    display: var(--inline-block);
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-27);
    max-width: 41.5rem;
    text-align: var(--text-center);
    padding: var(--p-tblr-40);
    margin-right: -50px;
}
.payment-steps-1 {
    margin-top: -1.5rem;
}
.payment-steps-1, .payment-steps-3 {
    margin-left: 57.6%;
}
.payment-step-title {
    font-family: var(--hero-extra-bold);
    font-size: var(--cus-size-2);
    line-height: var(--cus-lineht-2);
    margin-top: 4rem;
}
.payment-step-lead {
    font-size: var(--cus-size-3);
    line-height: var(--cus-lineht-3);
    padding: var(--p-t-30-lr-20);
}
.payment-steps .slick-dots {
    width: calc(100% - 80px);
    bottom: auto;
    top: 4rem;
}
.payment-steps .slick-dots li {
    border-radius: 50%;
}
.payment-steps .slick-dotted.slick-slider {
    margin-bottom: var(--mb-10);
}
.payment-steps .slick-dots li:first-child {
    background-color: var(--green-color);
}
.payment-steps .slick-dots li:nth-child(2) {
    background-color: var(--light-blue-color);
}
.payment-steps .slick-dots li:nth-child(3) {
    background-color: var(--yellow-color);
}
.payment-steps .slick-dots li:nth-child(4) {
    background-color: var(--orange-color);
}
.payment-steps-2 {
    margin-left: 55.2%;
}
.payment-steps-3 {
    width: 304px;
    padding: 23px 23px 15px 30px;
    text-align: var(--text-left);
}
.card-icon {
    margin-top: 1.5rem;
}

@media (max-width: 767px) {
    .payment-steps-main-bg {
        width: 100%;
    }
    .payment-steps-1 {
        padding: 1rem;
        margin: 0 var(--mrl-16);
    }
}
