@import "variable.css";

@font-face {
  font-family: HeroNew-Regular;
  src: url(../fonts/HeroNewRegular.woff);
}

@font-face {
  font-family: HeroNew-Bold;
  src: url(../fonts/HeroNewBold.woff);
}

@font-face {
  font-family: HeroNew-ExtraBold;
  src: url(../fonts/HeroNewExtraBold.woff);
}

@font-face {
  font-family: Helvetica-regular;
  src: url(../fonts/Helvetica.ttf);
}

@font-face {
  font-family: Helvetica-Bold;
  src: url(../fonts/Helvetica-Bold.ttf);
}

html {
    font-size: var(--global-font-size);
}

body{
    font-family: var(--hero-regular);
    color: var(--midnight-color);
    background-color: var(--white-color);
}

.container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: var(--container);
}

/* Common Styles */
.row-wrap-item-center {
    display: var(--flex);
    flex-wrap: var(--flex-wrap);
    align-items: var(--item-center);
}
.mar-left-36 {
    margin: var(--left-36);
}
.is-mint-bg {
    background-color: var(--mint-color);
}

.is-midnight-bg {
    background-color: var(--midnight-color);
}

.is-midnight-blue {
    color:var(--midnight-blue-color);
}

.is-light-blue-color{
    color: var(--light-blue-color-2);
}

.is-blue-bg {
    background-color: var(--blue-color);
}
.is-border-0 {
    border: var(--zero)!important;
}
.is-only-desktop {
    display: var(--block)!important;
}
.is-only-mobile {
    display: var(--none)!important;
}
@media (max-width: 767px) {
    .is-only-desktop {
        display: var(--none)!important;
    } 
    .is-only-mobile {
        display: var(--block)!important;
    }
}
.top-space-10 {
    margin-top: 1rem!important;
}
.top-space-14 {
    margin-top: 1.4rem!important;
}
.top-space-17 {
    margin-top: 1.7rem!important;
}
.top-space-30 {
    margin-top: 3rem!important;
}
.top-space-43 {
    margin-top: 4.3rem;
}
.top-space-57 {
    margin-top: 5.7rem;
}
.top-space-90 {
    margin-top: 9rem;
}
.top-space-142 {
    margin-top: 14.2rem!important;
}
.top-space-187 {
    margin-top: 18.7rem!important;
}
.bottom-space-0 {
    margin-bottom: var(--zero)!important;
}
.bottom-space-17 {
    margin-bottom: 1.7rem!important;
}
.bottom-space-157 {
    margin-bottom: 15.7rem!important;
}
.is-width-600 {
    max-width: 60rem;
}
/* SLICK SLIDER CUSTOMIZE */
.slick-dots{
    position: initial;
}

.slick-dots li{
    width: 1rem;
    height: 1rem;
}
.slick-dots li button {
    width: 10px;
    height: 10px;
    padding: 0px;
}
.slick-dots li button:before {
     font-size: 20px;
    line-height: 10px; 
    width: 10px;
    height: 10px;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: var(--midnight-blue-color);
}
.image.is-20x20 {
    height: 20px;
    width: 20px;
}
.is-twelve-per {
    flex: none;
    width: var(--per-12);
}

/* Header ST */
header {
    position: sticky;
    top: var(--zero);
    left: var(--zero);
    z-index: var(--zindex-999);
}
.top-header {
    background-color: var(--blue-color);
    font: var(--top-header-font);
    color: var(--gray-light-color);
    text-align: var(--text-center);
    padding: var(--top-bottom-14-left-right-10);
}
.bottom-header {
    background-color: var(--dark-color);
    padding: var(--top-bottom-25--left-right-10);
}
.bottom-header .navbar-burger {
    margin-right: var(--mr-52);
}
.bottom-header .navbar-burger span {
    width: 2rem;
    height: 0.3rem;
}
.bottom-header .navbar-burger span:first-child {
    top: calc(50% - 8px);
}
.bottom-header .navbar-burger span:nth-child(2) {
    top: calc(50% - 2px);
}
.header-container {
    max-width: var(--header-container);
    margin: var(--zero-auto);
}
.header-left {
    flex: var(--flex-1);
}
.hamburger {
    margin: var(--right-52);
    cursor: var(--pointer);
}
header nav a {
    font-weight: var(--font-weight-400);
    font-size: var(--cus-size-6);
    line-height: var(--cus-lineht-7);
    color: var(--light-grey-color-2);
    padding: 0 1.5rem;
}
header nav a:hover {
    color: var(--midnight-blue-color);
}
header nav a.active {
    font-family: var(--hero-extra-bold);
    font-weight: var(--font-weight-900);
    color: var(--midnight-blue-color);
}
header nav a:first-child {
    margin-right: var(--mr-10);
}
header nav a:nth-child(2) {
    margin-right: 2.1rem;
}
header nav a:nth-child(4) {
    margin-right: 1.6rem;
}

.separator {
    border-right-width: var(--border-width-1);
    border-right-style: solid;
    border-color: var(--midnight-blue-color);
    height: 2.8rem;
    margin-right: 0.4rem;
}
 
.section{
    padding: var(--zero);
}

/* FONTS CSS*/

.has-family-primary{
    font-family: var(--hero-regular);
}

.has-family-primary-extra-bold{
    font-family: var(--hero-extra-bold);
}

.has-family-secondary{
    font-family: var(--helvetica-regular);
}

.has-size-1{
    font-size: var(--cus-size-1);
    line-height: var(--cus-lineht-1);
}

.has-size-2{
    font-size: var(--cus-size-2);
    line-height: var(--cus-lineht-2);
}

.has-size-3{
    font-size: var(--cus-size-3);
    line-height: var(--cus-lineht-3);
}

.has-size-5{
    font-size: var(--cus-size-5);
    line-height: var(--cus-lineht-4);
}
.has-size-6{
    font-size: var(--cus-size-6);
    line-height: var(--cus-lineht-6)
}

.has-size-8{
    font-size: var(--cus-size-8);
    line-height: var(--cus-lineht-8)
}
 
/* FONTS COLOR */
 
.midnight-color{
    color: var(--midnight-color);
}


.gray-color{
    color: var(--gray-light-color);
}

.light-grey-color{
    color: var(--light-grey-color);
}

.light-purple-color-bg{
    background-color: var(--light-purple-color);
}


/* HELPERS CLASSES */
.section-medium{
    padding-top: var(--pt-125);
    padding-bottom: var(--zero);
}

.section-large{
    padding-top: var(--pt-18);
    padding-bottom: var(--pt-20);
}

.section-hero{
    padding-top: var(--py-44);
    padding-bottom: var(--py-44);
    margin-top: var(--mt-10);
}

.section-footer{
    padding-top: var(--pt-116);
    padding-bottom: var(--pb-5);
}

span.separator-small {
    border-bottom: solid 1px var(--gray-light-color);
    width: 100%;
    display: block;
    padding-top: 1.5rem;
    margin-bottom: .5rem;
}

span.separator-big {
    border-bottom: solid 1px var(--gray-light-color);
    width: 100%;
    display: block;
    padding-top: 6rem;
    margin-bottom: 2.5rem;
}

.extra-link li{
margin-right: 3rem;
position: relative;
}

.extra-link li:last-child{
    margin-right: 0;
}

.extra-link li:after{
    content: "|";
    position: absolute;
    width: 1px;
    margin-left: 13px;
}
.extra-link li:last-child:after{
    content: none;    
}
.sub-footer{
    padding-top: 6rem;
}

.span-blue{
    color: var(--blue-color)
}

.max-width-30{
    max-width: 30rem;
}

.mt-28{
    margin-top: var(--mt-28) !important;
}

.mb-22{
    margin-bottom: var(--mb-22) !important;
}

.mb-0{
    margin-bottom: var(--mb-0) !important;
}

.mb-27{
    margin-bottom: var(--mb-27);
}

.mb-34{
    margin-bottom: var(--mb-34);
}

.mb-45{
    margin-bottom: var(--mb-45);
}

.mt-50{
    margin-top: var(--mt-50);
}

.mt-70{
    margin-top: var(--mt-70);
}
.mb-56{
    margin-bottom: var(--mb-56);
}
.p-y-44{
padding: var(--p-y-44) 0;
}

.px-50{
    padding: 0 var(--p-x-50);
}

.px-70{
    padding-left: var(--px-70);
    padding-right: var(--px-70);
}

.px-110{
    padding-left: var(--px-110);
    padding-right: var(--px-110);
}

.pb-94{
    padding-bottom: var(--pb-94);
}

.pt-125{
    padding-top: var(--pt-125);
}

.pt-145{
    padding-top: var(--p-top-145);
}

.seperator{
    margin: var(--zero) 10px;
}

.un-list{
    font-size: var(--cus-size-8);
    line-height: var(--cus-lineht-4);
}

.un-list li{
   margin-bottom: .2rem;
}
.un-list li:last-child{
   margin-bottom: 0;
}

/* BUTTON STYLES (NEW)*/
/* button.is-rounded */
.button{
    border-color: var(--midnight-color);
    border-width: var(--border-width);
    color: var(--midnight-color);
    padding: .8rem 3.9rem;
    height: auto;
}

.button.is-rounded{
    border-radius: 9999px;
    padding: .8rem 3.9rem;
}
 
.button.is-mint{
border-color: var(--mint-color);
background-color: var(--mint-color);
}

.button.is-midnight{
border-color: var(--midnight-color);
background-color: var(--midnight-color);
color: var(--gray-light-color);
}

.button.is-midnight-inverse{
border-color: var(--gray-light-color);
background-color: var(--gray-light-color);
color: var(--midnight-color);
}

.button.is-transparent-bg{
    background-color: transparent;
}

.button, .file-cta, .file-name, .input, .pagination-ellipsis, .pagination-link, .pagination-next, .pagination-previous, .select select, .textarea{
    font-size: 1.4rem;
}

.button.is-small{
    font-size: 1rem;
    padding: 0.6rem 4rem;
}

.a-underline{
    text-decoration: underline;
}

.title-head{
    margin-bottom: var(--mb-56);
}

.section-is-product {
    background: url(../img/gradient.png) no-repeat left 6rem/cover;
}

.section-is-hear {
    background: url(../img/gradient.png) no-repeat left 15.2rem/cover;
    margin-top: 18.7rem;
}

/* CARD STYLES (NEW)*/
.containercard-wrapper.is-centered {
    padding-left: 7px;
}
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.card-wrapper.is-centered {
    justify-content: center;
}
.card-inner-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}
.card.is-big {
    display: block;
    width: 30.2rem;
    box-shadow: var(--box-shadow);
    padding: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3.7rem;
}
.card.is-big .card-title{
    font: 400 1.8rem/2.4rem var(--heronew-regular);
    color: var(--midnight-color);
}
.card.is-big .card-body-content{
    font: 400 1.4rem/2.4rem var(--heronew-regular);
    margin-top: 1.8rem;
    color: var(--midnight-color);
}
.card.is-big .card-body-footer{
    font: 900 1.2rem/1.8rem var(--heronew-extra-bold);
    color: var(--midnight-color);
    margin-top: 3.4rem;
    text-align: center;
}
.card.is-big .card-body-footer img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
}
.card.is-small{
    display: block;
    width: 17.6rem;
    box-shadow: var(--box-shadow);
    padding: 0.6rem 2.8rem;
    margin-top: var(--zero);
    margin-right: 1.8rem;
    margin-left: 1.8rem;
    margin-bottom: 3.7rem;
}
.card.is-small .card-title{
    font: 900 1.8rem/2rem var(--heronew-extra-bold);
    color: var(--midnight-color);
    margin-top: 3rem;
}
.card.is-small .card-body-content{
    font: 400 1.4rem/2.4rem var(--helvetica-regular);
    color: var(--midnight-color);
    margin-top: 1.2rem;
    padding: 0 1rem 2.4rem;
}
.card.is-radius-big{
    border-radius: var(--border-radius-45);
}
.card.is-radius-small{
    border-radius: var(--border-radius-30);
}
.card .is-big-title {
    font: 900 4.8rem/5.2rem var(--heronew-extra-bold);
    color: var(--midnight-color);
    margin-top: 2.8rem;
}
.card .is-big-card-content {
    font: 900 1.8rem/2.8rem var(--heronew-regular);
    color: var(--midnight-color);
    margin-top: 2.2rem;
}
.card.is-transparent {
    background-color: transparent;
    border-radius: var(--zero);
    box-shadow: none;
}
.card figure + .card-title {
    margin-top: 1rem;
}
.plan-section-footer {
    max-width: 62rem;
    margin: 1.7rem auto var(--zero);
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    text-align: center;
}

/* OVER TIME IMAGE */
.over-time-image {
    max-width: 66.6rem;
    margin: var(--zero-auto);
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}
.first-image {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-end;
}
.first-image img:last-child {
    margin-right: 6rem;
}
.second-image {
    margin-top: 14rem;
    position: absolute;
    left: 10.5rem;
    bottom: -3.7rem;;
}

/* Award Winning Section */
.award-winning-column {
    max-width: 60rem;
    margin-top: 6.6rem;
    margin-left: auto;
    margin-right: auto;
}
.section-tag-block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-tag-left {
    flex: 1;
    text-align: right;
    margin-right: 2rem;
    margin-bottom: 1.1rem;
}
.section-tag {
    background: var(--extra-light-blue-color);
    font: 900 1.2rem/1.2rem var(--hero-extra-bold);
    border-radius: 1.1rem;
    width: 10.6rem;
    padding: 0.9rem 0.5rem;
    margin-bottom: 1.1rem;
}

/* MAIN_SLIDER SECTION */

.is-bold{
    font-family: var(--hero-bold);
}

.pos-relative{
    position: relative;
}

.pos-absolute{
    position: absolute;
}

.mobile-header{
    right: -3.5rem;
    bottom: -36rem;
}
 
.how-it-works{
    bottom: -9rem;
    left: 24rem;
}

.animation-bg{
    padding: 13.6rem 0;
    background-image: url(../img/2021_ART_particles-rect-XL-3@2x.png);
    background-repeat: repeat-x;
    margin-top: 3rem;
}

.cus-block p {
    max-width: 44rem;
    margin-right: auto;
    margin-left: auto;
}

/* AKS css start */
.title-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem 4rem 0 4rem;
}
.cust-card {
    padding: 3rem 5rem;
    background: #FFFFFF;
    box-shadow: 0 2px 19px 0 #dbdfff;
    border-radius: 45px;
    min-height: 300px;
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cust-card span {
    height: 55px;
    display: flex;
    align-items: center;
}
.cust-card span.digital-pay img {
    margin-top: 1.5rem;
}
.cust-card h3 {
    font-size: var(--cus-size-5);
    line-height: var(--cus-lineht-7);
    font-family: var(--helvetica-regular);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    min-height: 30px;
}
.cust-card p {
    font-size: var(--cus-size-6);
    line-height: var(--cus-lineht-5);
    font-family: var(--helvetica-regular);
}
.pay-over-time {
    flex-direction: column;
    align-items: center;
}
.pay-over-time .airpay-plan {
    margin-left: 25%;
    margin-top: 5rem;
}
.pay-over-time .person-ondesk {
    margin-top: -15rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 5%;
}
.person-ondesk a {
    display: inline-flex;
    margin-bottom: 4rem;
    margin-left: 1rem;
}
.hear-from-section {
    background: url(../img/gradient.png) no-repeat top left/cover;

}
.facny-bg-wrap {
    position: relative;
    left: -27px;
}
.facny-bg {
    background: url(../img/ART_600x600-Confetti-3.png) no-repeat top center;
    padding: 0 7rem 9rem 7rem;
}
.facny-bg p {
    padding: 0 5rem;
}
.cust-position {
    background-position: center 21rem;
}
.more {
    background: url(../img/Dropdown-5B70FF.png) no-repeat left center;
    display: flex;
    margin-top: 2.5rem;
    font-size: var(--cus-size-8);
    line-height: var(--cus-lineht-8);
    padding-left: 1.75rem;
    color: var(--midnight-color);
    font-weight: bold;
}
.partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.partners-card {
    padding: 2.5rem;
    box-shadow: 0 2px 19px 0 #dbdfff;
    border-radius: 30px;
    min-height: 15rem;
    margin-top: 5.5rem;
}
.partners-card:first-child {
    margin-top: 0;
}

.partner {
    display: flex;
    flex-direction: column;
}
.partner h4 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 2rem;
}

.partner .top-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.partner .top-head h4 {
    margin: 0;
}

.partner .top-head .partner-review {
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
    box-shadow: 0 2px 19px 0 #bec2df;
    margin-top: -5.5rem;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partner-review img {
    width: 55%;
}

/* AKS css end */
.navbar-burger span {
    background-color: var(--blue-color);
}
.tabs.pricing .tab li {
    width: 41%;
    padding: var(--zero);
}
.tabs.pricing .tab li button {
    border: var(--zero);
    border-bottom: 3px solid var(--light-blue-color-2);
    cursor: var(--pointer);
    font-size: var(--cus-size-3);
    padding-bottom: var(--cus-size-7);
    width: 100%;
    background: transparent;

}
.tabs.pricing .tab li .is-active {
    border-bottom: 3px solid var(--midnight-blue-color);
}
.tabs.pricing ul {
    border-bottom: 2px solid var(--light-grey-color-3);
    min-height: 5rem;
}
.tabcontent{
    display: none;
}
.tabs.pricing ul li.is-three-fifths div {
    width: 60%;
    white-space: initial;
}
.tabs.is-large {
    font-size: var(--cus-size-5);
    line-height: var(--cus-lineht-7);
    border-bottom: 2px solid var(--light-grey-color-3);
}
.tabs.pricing ul li.is-three-fifths span {
    display: var(--inline-block);
    font-family: var(--helvetica-regular);
    font-size: var(--cus-size-8);
    color: var(--light-grey-color);
    white-space: normal;
}
.section-3-ftr {
    margin-top: var(--mt-40);
}
.section-3-ftr>.columns {
    font-size: var(--cus-size-6);
    margin-bottom: var(--mb-15);
}
.section-3-ftr div:last-child {
    font-size: var(--cus-size-8);
}
.section-3-ftr>.columns .icon {
    margin-right: var(--mr-20);
}

/* Payment Steps */
.payment-steps {
    margin-top: var(--mt-124);
}
.payment-steps-main-bg {
    background: url(../img/graphic-phone.png) no-repeat left top/cover;
    width: 68%;
    margin: var(--zero-auto);
}
.payment-steps-1, .payment-steps-3 {
    display: var(--inline-block);
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-27);
    max-width: 41.5rem;
    text-align: var(--text-center);
    padding: var(--p-tblr-40);
    margin-right: -50px;
}
.payment-steps-1 {
    margin-top: -1.5rem;
}
.payment-steps-1, .payment-steps-3 {
    margin-left: 57.6%;
}
.payment-step-title {
    font-family: var(--hero-extra-bold);
    font-size: var(--cus-size-2);
    line-height: var(--cus-lineht-2);
    margin-top: 4rem;
}
.payment-step-lead {
    font-size: var(--cus-size-3);
    line-height: var(--cus-lineht-3);
    padding: var(--p-t-30-lr-20);
}
.payment-steps .payment-steps-dots {
    display: flex;
    justify-content: center;
}
.payment-steps .payment-steps-dots span {
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 1rem;
    margin-top: 1rem;
}
.payment-steps .payment-steps-dots span:first-child {
    background-color: var(--mint-color);
}
.payment-steps .payment-steps-dots span:nth-child(2) {
    background-color: var(--midnight-blue-color);
}
.payment-steps .payment-steps-dots span:nth-child(3) {
    background-color: var(--yellow-color);
}
.payment-steps .payment-steps-dots span:last-child {
    background-color: var(--orange-color);
    margin-right: var(--zero);
}
.payment-steps-2 {
    margin-left: 55.2%;
}
.payment-steps-3 {
    width: 304px;
    padding: 23px 23px 15px 30px;
    text-align: var(--text-left);
}
.card-icon {
    margin-top: 1.5rem;
}


/* NAVIGATION CODE */
.dropdown-menu {
    left: 1rem;
    min-width: 40rem;
    margin-top: 3.1rem;
}

#dropdown-menu3 .dropdown-content {
    padding: 3rem 4rem;
    border-radius: 2.6rem;
}

.un-list-nav li{
    border-bottom: solid 1px #E8E8FF;
    padding: 1rem 1rem 1rem 3rem;
}

.content-header p, .content-header img{
    padding-left: 3rem;
}

.content-footer .button, .content-footer li{
    margin-left: 3rem;
    margin-right: 3rem;
}
.content-footer {
    margin: 10rem var(--zero) 8rem var(--zero);
}
.content-footer .button {
    padding: 1rem 4rem;
}

.content-main-header {
    background-color: var(--dark-color);
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-menu-mobile-header{
    padding: 2rem 0;
}