@import "variable.css";

@font-face {
  font-family: HeroNew-Regular;
  src: url(../fonts/HeroNewRegular.woff);
}

@font-face {
  font-family: HeroNew-Bold;
  src: url(../fonts/HeroNewBold.woff);
}

@font-face {
  font-family: HeroNew-ExtraBold;
  src: url(../fonts/HeroNewExtraBold.woff);
}

@font-face {
  font-family: Helvetica-regular;
  src: url(../fonts/Helvetica.ttf);
}

@font-face {
  font-family: Helvetica-Bold;
  src: url(../fonts/Helvetica-Bold.ttf);
}

html {
    font-size: var(--global-font-size);
}

body{
    font-family: var(--hero-regular);
    color: var(--black-color);
}

.container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: var(--container);
}
.section{
    padding: 0;
}

/* FONTS CSS*/

.hero-extrabold{
    font-family: var(--hero-extra-bold);
}

.cus-size-1{
    font-size: var(--cus-size-1);
}
.cus-size-3{
    font-size: var(--cus-size-3);
}

.cus-size-5{
    font-size: var(--cus-size-5);
}

.cus-size-8{
    font-size: var(--cus-size-8);
}

.cus-lineht-1{
    line-height: var(--cus-lineht-1);
}

.cus-lineht-3{
    line-height: var(--cus-lineht-3);
}

.cus-lineht-4{
    line-height: var(--cus-lineht-4);
}

.cus-lineht-8{
    line-height: var(--cus-lineht-8);
}

/* FONTS COLOR */
.black{
    color: var(--black-color);
}

.blue-dark{
    color: var(--primary-color);
}

/* HELPERS CLASSES */
.span-blue{
    color: var(--blue-color)
}

.mb-5{
    margin-bottom: var(--mb-22);
}

.mb-22{
    margin-bottom: var(--mb-22) !important;
}

.mb-0{
    margin-bottom: var(--mb-0) !important;
}

.mb-27{
    margin-bottom: var(--mb-27);
}

.mb-45{
    margin-bottom: var(--mb-45);
}

.mt-50{
    margin-top: var(--mt-50);
}

.mt-70{
    margin-top: var(--mt-70);
}

.p-x-70{
    padding: 0 var(--p-x-70);
}

.p-x-110{
    padding: 0 var(--p-x-110);
}

.seperator{
    margin: 0px 10px;
}
/* BUTTON STYLES */
.button.is-rounded {
    border-color: var(--primary-color);
    border-width: var(--border-width);
    color: var(--primary-color);
    padding: .8rem 3.9rem;
    height: auto;
}
.is-bold{
    font-family: var(--hero-bold);
}

.button, .file-cta, .file-name, .input, .pagination-ellipsis, .pagination-link, .pagination-next, .pagination-previous, .select select, .textarea{
    font-size: 1.4rem;
}
.a-underline{
    text-decoration: underline;
}
/* MAIN_SLIDER SECTION */

.p-b-0{
    padding-bottom: var(--p-b-0);
}

.p-b-94{
    padding-bottom: var(--p-b-94);
}
.p-t-125{
    padding-top: var(--p-t-125);
}

.p-t-145{
    padding-top: var(--p-top-145);
}

.pos-relative{
    position: relative;
}

.pos-absolute{
    position: absolute;
}

.mobile-header{
    right: -3.5rem;
    bottom: -22rem;
}
 
.how-it-works{
    bottom: 30px;
    left: 29%;
}

.animation-bg{
    padding: 13.6rem 0;
    background-image: url(../img/2021_ART_particles-rect-XL-3@2x.png);
    background-repeat: repeat-x;
    margin-top: 7rem;
}

/* AKS css start */

.bg1{
    background: url(../img/gradient.png) center 3.5rem no-repeat;
    background-size: initial;
}
.title-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem 4rem 0 4rem;
}
.cust-card {
    padding: 3rem 5rem;
    background: #FFFFFF;
    box-shadow: 0 2px 19px 0 #dbdfff;
    border-radius: 45px;
    min-height: 300px;
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cust-card span {
    height: 55px;
    display: flex;
    align-items: center;
}
.cust-card span.digital-pay img {
    margin-top: 1.5rem;
}
.cust-card h3 {
    font-size: var(--cus-size-5);
    line-height: var(--cus-lineht-7);
    font-family: var(--helvetica-regular);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    min-height: 30px;
}
.cust-card p {
    font-size: var(--cus-size-6);
    line-height: var(--cus-lineht-5);
    font-family: var(--helvetica-regular);
}
.pay-over-time {
    flex-direction: column;
    align-items: center;
}
.pay-over-time .airpay-plan {
    margin-left: 25%;
    margin-top: 5rem;
}
.pay-over-time .person-ondesk {
    margin-top: -15rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 5%;
}
.person-ondesk a {
    display: inline-flex;
    margin-bottom: 4rem;
    margin-left: 1rem;
}
.facny-bg {
    background: url(../img/ART_600x600-Confetti-3.png) no-repeat top center;
    padding: 0 7rem 9rem 7rem;
}
.facny-bg p {
    padding: 0 5rem;
}
.cust-position {
    background-position: center 21rem;
}
.more {
    background: url(../img/Dropdown-5B70FF.png) no-repeat left center;
    display: flex;
    margin-top: 2.5rem;
    font-size: var(--cus-size-8);
    line-height: var(--cus-lineht-8);
    padding-left: 1.75rem;
    color: #1D1D30;
    font-weight: bold;
}
.partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.partners-card {
    padding: 2.5rem;
    box-shadow: 0 2px 19px 0 #dbdfff;
    border-radius: 30px;
    min-height: 15rem;
    margin-top: 5.5rem;
}
.partners-card:first-child {
    margin-top: 0;
}

.partner {
    display: flex;
    flex-direction: column;
}
.partner h4 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 2rem;
}

.partner .top-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.partner .top-head h4 {
    margin: 0;
}

.partner .top-head .partner-review {
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
    box-shadow: 0 2px 19px 0 #bec2df;
    margin-top: -5.5rem;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partner-review img {
    width: 55%;
}

/* AKS css end */