@media only screen and (max-width: 767px) {  
  :root {  
  
    /* Font Size */
    --cus-size-1: 3rem;

     /* line height */
    --cus-lineht-1: 3.6rem;
}

.container:not(.is-max-desktop):not(.is-max-widescreen) {
    padding:0 18px;
}
.m-none{
    display:none;
}
.p-small{
    padding: 0 3rem;
}
.mx-wt-8{
    max-width: 80%;
}
.mx-wt-36{
    max-width: 36%;
}
.mx-wt-15{
    max-width: 15%;
}
.how-it-works {
    bottom: -50px;
    left: 41%;
}
.mobile-header {
    right: 26px;
    bottom: -10rem;
}
}