@media only screen and (max-width: 767px) {  
  :root {  
  
    /* Font Size */
    --cus-size-1: 3rem;
    --cus-size-3:1.8rem;
    --cus-size-2:3rem;
    --cus-size-5: 1.4rem;

     /* line height */
    --cus-lineht-1: 3.6rem;
    --cus-lineht-3:2.4rem;
    --cus-lineht-2: 3.6rem;
    --cus-lineht-4: 2.4rem;

    /* PADDING_MARGIN VARIABLES */
    --px-70: 4rem;
    --px-110: 4rem;
    --mb-56: 2rem;
    --pt-125: 6rem;
    --p-top-145: 7.5rem;
    --pt-18: 8rem;
    --pt-20: 5rem;
    --pt-116: 8rem;
}

.container:not(.is-max-desktop):not(.is-max-widescreen) {
    padding:0 18px;
}

.button, .file-cta, .file-name, .input, .pagination-ellipsis, .pagination-link, .pagination-next, .pagination-previous, .select select, .textarea {
    font-size: 1.1rem;
}

.button.is-rounded {
    padding: 0.7rem 3.2rem;
}
.m-mb-20{
    margin-bottom: 2rem !important;
}

.m-none{
    display:none;
}
.p-small{
    padding: 0 3rem;
}
.mx-wt-7{
    max-width: 70%;
}
.mx-wt-8{
    max-width: 80%;
}
.mx-wt-36{
    max-width: 36%;
}
.mx-wt-15{
    max-width: 15%;
}
.how-it-works {
    bottom: -50px;
    left: 41%;
}
.mobile-header {
    right: 26px;
    bottom: -10rem;
}
.hero-mobile-responsive p{
    font-size: 1.8rem;
    list-style: 2.8rem;
    padding: 0 4rem;
    margin-top: 3rem;
    margin-bottom:2rem;
}
.hero-mobile-responsive button {
    margin-left: 0 !important;
}
.hero-mobile-responsive .is-align-self-center{
    text-align: center;
}

.title-group{
    padding: 2rem 0rem 0 0rem;
}
.cust-card {
    padding: 4rem;
    width: 100%;
    min-width: 100%;
    margin-bottom: 2rem;
}

.columns.is-variable>.column {
    padding: 0;
}

.payment-steps-main-bg {
    width: 100%;
}
.payment-steps-1 {
    padding: 1rem;
    margin: 0 var(--mrl-16);
}
.bg1 {
    background: none;
}

.facny-bg p {
    padding: 0;
}
.partners-card:last-child {
    margin-bottom: 4rem;
}

.section-check-in{
    padding-top: 14rem;
}

.section-what-we-are .mobile-wrap img{
    margin: 0 auto;
}

.animation-bg {
    padding: 3.6rem 0;
    background-size: contain;
}

.dropdown.is-active .dropdown-menu{
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    margin-top: 0;
    min-width: auto;
}
.dropdown-content{
    box-shadow: none;
    padding: 0;
}
.payment-steps-main-bg{
    background-size: contain;
}
.payment-step-title{
    --cus-size-2:2rem;
    font-size: var(--cus-size-2);
    line-height: 2.2rem;
    margin-top:1rem;
 }
 .payment-steps-1{
    max-width: 17.5rem;
    margin-left: 14rem;
    margin-top: -6rem;
    padding: 2rem 1rem;
 }

.payment-steps .payment-steps-dots span {
    width: 0.7rem;
    height: 0.7rem;
    margin-right: 0.5rem;
}
 
.payment-step-lead{
     --cus-size-3: 1rem;
     font-size: var(--cus-size-3);
     line-height: 1.4rem;
    padding: 1rem 1.5rem 0;
 }
 .payment-steps-2 {
    text-align: center;
    margin-top: 17rem;
    margin-left: 0;
}
 .payment-steps-2 img {
    max-width: 265px;
}
.payment-steps-3{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-direction: column;
    width: 244px;
        padding: 15px 20px 15px 20px;
}
.payment-steps-3 .card-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

   .header-right {
        display: none;
    }
    .row-wrap-item-center {
        justify-content: space-between;
    }
    .bottom-header {
        padding: 1rem 2rem;
    }
    .tabs li.is-three-fifths {
    flex: 3;
}
.tabs.pricing ul li.is-three-fifths div{
    width: 66%;
}
.tabs.pricing ul li.is-three-fifths span {
    width: 62%;
}
.top-space-165 {
    margin-top: 8.2rem!important;
}
.over-time-image {
    flex-wrap: wrap;
    flex-direction: initial;
    justify-content: center;
}
.first-image {
    align-items: center;
}
.first-image img:last-child {
    order: 1;
    margin-right: 0;
}
.first-image img:first-child {
    order: 2;
}
.second-image {
    position: initial;
    margin-top: var(--zero);
}
}

@media screen 
  and (min-width: 769px)
  and (max-width: 1399px){
    .second-image {
        left: -3.5rem;
        bottom: -3.7rem;
    }
  }

@media screen 
  and (min-width: 768px)
  and (max-width: 1399px){
    :root{
        --global-font-size: 50%;
    }
   .mobile-header {
    bottom: -41rem;
    max-width: 50%;
    right: 0;
}
    .container:not(.is-max-desktop):not(.is-max-widescreen) {
    padding: 0 18px;
}
}