
:root {

    /*GLOBAL SETTING*/
    --global-font-size: 62.5%;

    /*CONTAINER WIDTH*/
    --header-container: 106.6rem;
    --container: 122.5rem;

    /* FONT WEIGHT */
    --font-weight-normal: normal;
    --font-weight-400: 400;
    --font-weight-900: 900;

    /* FONT FAMILY */
    --hero-regular: HeroNew-Regular;
    --hero-bold:HeroNew-Bold;
    --hero-extra-bold: HeroNew-ExtraBold; 
    --helvetica-regular: Helvetica-regular;
    --helvetica-bold: Helvetica-Bold;

    /* Font Size */
    --cus-size-1: 5.2rem;
    --cus-size-2: 4.8rem;
    --cus-size-3: 2.4rem;
    --cus-size-4: 1.9rem;
    --cus-size-5: 1.8rem;
    --cus-size-6: 1.4rem;
    --cus-size-7: 1.3rem;
    --cus-size-8: 1.2rem;
    --cus-size-9: 1.1rem;
    --cus-size-10: 1rem;
    --cus-size-11: .7rem;
    --cus-size-12: .6rem;

    /* line height */
    --cus-lineht-1: 6.2rem;
    --cus-lineht-2: 5.2rem;
    --cus-lineht-3: 3.4rem;
    --cus-lineht-4: 2.8rem;
    --cus-lineht-5: 2.4rem;
    --cus-lineht-6: 2.2rem;
    --cus-lineht-7: 2rem;
    --cus-lineht-8: 1.8rem;
    --cus-lineht-9: 1.7rem;
    --cus-lineht-10: 1.6rem;
    --cus-lineht-11: 1.4rem;
    --cus-lineht-12: 1.2rem;

    /* COLORS */
    --white-color: #fff;
    --off-white-color: #F1F1F5;
    --black-color: #000;
    --dark-color: #272A39;
    --primary-color: #1D1D30;
    --blue-color: #5B44FD;
    --light-blue-color: #5B70FF;
    --light-blue-color-2: #d2d1ff;
    --extra-light-blue-color: #C5DDFF;
    --light-grey-color: #8291B2;
    --light-grey-color-2: #91A2C6;
    --light-grey-color-3: #f6f6fa;
    --green-color: #60EDCE;
    --light-purple-color: #EAEAFF;

    /* PADDING_MARGIN VARIABLES */
    --zero: 0;
    --zero-auto: var(--zero) auto;
    --top-bottom-14: 0.875rem;
    --top-bottom-27: 1.688rem;
    --left-right-10: 0.625rem;
    --left-right-20: var(--zero) 1.25rem;
    --left-36: var(--zero) var(--zero) var(--zero) 2.25rem;
    --right-52: var(--zero) 3.25rem var(--zero) var(--zero);
    --p-b-0: 0;
    --p-b-94: 9.4rem;
    --p-t-125: 12.5rem;
    --mt-40: 4rem;
    --mr-20: 2rem;
    --mb-15: 1.5rem; 
    --mb-22: 2.2rem; 
    --mb-27: 2.7rem; 
    --mb-45: 4.5rem;
    --mb-0: var(--zero);
    --p-x-70: 7rem;
    --p-x-110: 11rem;
    --border-width: .2rem;
    --border-width-1: 0.063rem;
    --p-top-145: 14.5rem;
    
    /* Alignment */
    --text-center: center;

    /* DISPLAY */
    --flex: flex;
    --flex-wrap: wrap;
    --flex-1: 1;
    --item-center: center;
    --pointer: pointer;
    --zindex-999: 999;

    --top-header-font:
        var(--font-weight-normal) var(--cus-size-6)/var(--cus-lineht-6) var(--helvetica-regular);

    --top-bottom-14-left-right-10:
        var(--top-bottom-14) var(--left-right-10);

    --top-bottom-27--left-right-10:
        var(--top-bottom-27) var(--left-right-10);
}