
:root {

    /*GLOBAL SETTING*/
    --global-font-size: 62.5%;

    /*CONTAINER WIDTH*/
    --container: 122.5rem;

    /* FONT FAMILY */
    --hero-regular: HeroNew-Regular;
    --hero-bold:HeroNew-Bold;
    --hero-extra-bold: HeroNew-ExtraBold; 
    --helvetica-regular: Helvetica-regular;
    --helvetica-bold: Helvetica-Bold;

    /* Font Size */
    --cus-size-1: 5.2rem;
    --cus-size-2: 4.8rem;
    --cus-size-3: 2.4rem;
    --cus-size-4: 1.9rem;
    --cus-size-5: 1.8rem;
    --cus-size-6: 1.4rem;
    --cus-size-7: 1.3rem;
    --cus-size-8: 1.2rem;
    --cus-size-9: 1.1rem;
    --cus-size-10: 1rem;
    --cus-size-11: .7rem;
    --cus-size-12: .6rem;

    /* line height */
    --cus-lineht-1: 6.2rem;
    --cus-lineht-2: 5.2rem;
    --cus-lineht-3: 3.4rem;
    --cus-lineht-4: 2.8rem;
    --cus-lineht-5: 2.4rem;
    --cus-lineht-6: 2.2rem;
    --cus-lineht-7: 2rem;
    --cus-lineht-8: 1.8rem;
    --cus-lineht-9: 1.7rem;
    --cus-lineht-10: 1.6rem;
    --cus-lineht-11: 1.4rem;
    --cus-lineht-12: 1.2rem;

    /* Colors */
    --black-color: #000;
    --dark-color: #272A39;

    --primary-color: #1D1D30;
    --blue-color: #5B44FD;
    --light-blue-color: #5B70FF;
    --extra-light-blue-color: #C5DDFF;
    --light-grey-color: #8291B2;
    --light-grey-color2: #91A2C6;
    --green-color: #60EDCE;
    --light-purple-color: #EAEAFF;

    /* PADDING_MARGIN VARIABLES */
    --p-b-0: 0;
    --p-b-94: 9.4rem;
    --p-t-125: 12.5rem;
    --mb-22: 2.2rem; 
    --mb-27: 2.7rem; 
    --mb-45: 4.5rem;
    --mb-56: 5.6rem;
    --mb-0: 0;
    --p-y-44: 4.4rem;
    --p-x-50: 5rem;
    --p-x-70: 7rem;
    --p-x-110: 11rem;
    --border-width: .2rem;
    --p-top-145: 14.5rem;
}