
:root {

    /*GLOBAL SETTING*/
    --global-font-size: 62.5%;

    /*CONTAINER WIDTH*/
    --header-container: 106.6rem;
    --container: 122.5rem;

    /* FONT WEIGHT */
    --font-weight-normal: normal;
    --font-weight-400: 400;
    --font-weight-900: 900;

    /* FONT FAMILY */
    --hero-regular: HeroNew-Regular;
    --hero-bold:HeroNew-Bold;
    --hero-extra-bold: HeroNew-ExtraBold;
    --heronew-regular: HeroNew-Regular;
    --heronew-bold:HeroNew-Bold;
    --heronew-extra-bold: HeroNew-ExtraBold; 
    --helvetica-regular: Helvetica-regular;
    --helvetica-bold: Helvetica-Bold;

    /* Font Size */
    --cus-size-1: 5.2rem;
    --cus-size-2: 4.8rem;
    --cus-size-3: 2.4rem;
    --cus-size-4: 1.9rem;
    --cus-size-5: 1.8rem;
    --cus-size-6: 1.4rem;
    --cus-size-7: 1.3rem;
    --cus-size-8: 1.2rem;
    --cus-size-9: 1.1rem;
    --cus-size-10: 1rem;
    --cus-size-11: .7rem;
    --cus-size-12: .6rem;

    /* line height */
    --cus-lineht-1: 6.2rem;
    --cus-lineht-2: 5.2rem;
    --cus-lineht-3: 3.4rem;
    --cus-lineht-4: 2.8rem;
    --cus-lineht-5: 2.4rem;
    --cus-lineht-6: 2.2rem;
    --cus-lineht-7: 2rem;
    --cus-lineht-8: 1.8rem;
    --cus-lineht-9: 1.7rem;
    --cus-lineht-10: 1.6rem;
    --cus-lineht-11: 1.4rem;
    --cus-lineht-12: 1.2rem;

    /* COLORS */
    --white-color: #fff;
    --gray-light-color: #F1F1F5;
    --dark-color: #272A39;
    --midnight-color: #1D1D30;
    --blue-color: #5B44FD;
    --midnight-blue-color: #5B70FF;
    --light-blue-color-2: #d2d1ff;
    --extra-light-blue-color: #C5DDFF;
    --light-grey-color: #8291B2;
    --light-grey-color-2: #91A2C6;
    --light-grey-color-3: #f6f6fa;
    --mint-color: #60EDCE;
    --light-purple-color: #EAEAFF;
    --box-shadow-color: #DBDFFF;
    --yellow-color: #FFB71B;
    --orange-color: #FF595A;

    /* PADDING_MARGIN VARIABLES */
    --zero: 0;
    --zero-auto: var(--zero) auto;
    --top-bottom-14: 1.4rem;
    --top-bottom-25: 2.5rem;
    --left-right-10: 1rem;
    --left-right-20: var(--zero) 1.25rem;
    --left-36: var(--zero) var(--zero) var(--zero) 2.25rem;
    --right-52: var(--zero) 3.25rem var(--zero) var(--zero);
    --p-b-0: var(--zero);
    --pb-94: 9.4rem;
    --pb-5: 5rem;
    --pt-18: 18rem;
    --pt-20: 20rem;
    --pt-125: 12.5rem;
    --pt-116: 11.6rem;
    --p-tblr-40: 4rem;
    --p-t-30-lr-20: 3rem 2rem 0;
    --mt-28: 2.8rem;
    --mt-40: 4rem;
    --mt-124: 12.4rem;
    --mr-10: 1rem;
    --mr-20: 2rem;
    --mr-52: 5.2rem;
    --mb-15: 1.5rem; 
    --mb-22: 2.2rem; 
    --mb-27: 2.7rem; 
    --mb-34: 3.4rem; 
    --mb-45: 4.5rem;
    --mb-56: 5.6rem;
    --mt-10: 10rem;
    --mb-10: 1rem;
    --mb-0: var(--zero);
	--mt-50: 5rem;
    --mt-70: 7rem;
	--py-44: 4.4rem;
    --p-x-50: 5rem;
    --px-70: 7rem;
    --px-110: 11rem;
    --border-width: .2rem;
    --border-width-1: 0.063rem;
    --border-radius-27: 2.7rem;
    --border-radius-30: 3rem;
    --border-radius-45: 4.5rem;
    --p-top-145: 14.5rem;
    --mrl-16: 1.6rem;
    --per-12: 12%;
    
    /* Alignment */
    --text-left: left;
    --text-center: center;

    /* DISPLAY */
    --block: block;
    --inline-block: inline-block;
    --none: none;
    --flex: flex;
    --flex-wrap: wrap;
    --flex-1: 1;
    --item-center: center;
    --pointer: pointer;
    --zindex-999: 999;
    --box-shadow: var(--zero) 2px 19px var(--zero) var(--box-shadow-color);

    --top-header-font:
        var(--font-weight-normal) var(--cus-size-6)/var(--cus-lineht-6) var(--helvetica-regular);

    --top-bottom-14-left-right-10:
        var(--top-bottom-14) var(--left-right-10);

    --top-bottom-25--left-right-10:
        var(--top-bottom-25) var(--left-right-10);
}